################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThatsApp/ThatsApp/bin/Debug/net6.0
/ThatsApp/ThatsApp/obj/Debug/net6.0
/ThatsApp/.vs/ThatsApp/v17/.suo
/ThatsApp/.vs/ProjectEvaluation
/ThatsApp/.vs/ThatsApp/v17
/ThatsApp/ThatsApp/obj/Container
/ThatsApp/.vs/ThatsApp/FileContentIndex/f8c787cc-87dc-400e-b947-651655735de2.vsidx
/ThatsApp/.vs/ThatsApp/FileContentIndex/55318606-ea3e-4e05-a1a4-ed8d85a52150.vsidx
